{% extends 'base.html.twig' %}

{% block title %}Quizzer - Da탑niausiai u탑duodami klausimai mums{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Da탑niausiai u탑duodami klausimai</h1>

    <ul class="list-group col-sm-10 mx-auto">
        {% for question in questions %}
            <li class="list-group-item list-group-item-action transparent mt-1"><b>{{ question.question }}</b><br> {{ question.answer }} </li>
        {% endfor %}
    </ul>
{% endblock %}
