{% extends 'base.html.twig' %}

{% block title %}Quizzer - Dažniausiai užduodami klausimai mums{% endblock %}
{% block description %}Quizzer žaidimas. Mūsų klausimyno komandos dažniausiai užduodami klausimai. Galite susižinote ar mūsų klausimyną galima parsisiųsti bei kaip su mumis susisiekti.{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Dažniausiai užduodami klausimai</h1>

    <ul class="list-group col-sm-10 mx-auto">
        {% for question in questions %}
            <li class="list-group-item list-group-item-action transparent mt-1"><b>{{ question.question }}</b><br> {{ question.answer }} </li>
        {% endfor %}
    </ul>
{% endblock %}
