{% extends 'base.html.twig' %}

{% block title %}Hello FAQController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Dažniausiai užduodami klausimai</h1>

    <ul class="list-group col-sm-10 mx-auto">
        <li class="list-group-item list-group-item-action transparent mt-1"><b>Random Klausimas?</b><br> Random atsakymas </li>
        <li class="list-group-item list-group-item-action transparent mt-1"><b>Random Klausimas?</b><br> Random atsakymas </li>
        <li class="list-group-item list-group-item-action transparent mt-1"><b>Random Klausimas?</b><br> Random atsakymas </li>
        <li class="list-group-item list-group-item-action transparent mt-1"><b>Random Klausimas?</b><br> Random atsakymas </li>
    </ul>
{% endblock %}
